{% extends "layouts/base-teacher.html" %}
{% load book_extras %}
{% block title %} 课程信息{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">课程管理</h5>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5><i class="fas fa-book"></i> 课程名称: << {{clasz.classname}} >> </h5>
                            </div>

                <div class="card-block">
                    <div class="col-md-12">
                        <!-- <h5 class="mt-2">{{clasz.classname}}</h5> -->
                        <!-- <hr> -->
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-basic" role="tab" aria-controls="pills-basic" aria-selected="true">概述</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <!-- Summary -->
                            <div class="tab-pane fade show active" id="pills-basic" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class='row'>
                                    <div class='col-6'>
                                        <p>ClassId: {{clasz.classid}} </p>
                                        <p>Classname: {{clasz.classname}} </p>
                                        <p>Semester: {{clasz.semester}} </p>
                                        <p>Grade: {{clasz.grade}} </p>
                                        <p>Description: {{clasz.description}} </p>
                                        <p>File : {{clasz.file}}</p>


                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% if group.name == "Teacher" %}
                <a href="{% url 'edit_course' clasz.classid %}" class='btn btn-dark'>编辑课程</a>
                {% endif %}
                <a href="{% url 'my_class' %}" class='btn btn-dark'>返回列表</a>

                        </div>
                       
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(".django-ckeditor-widget").removeAttr('style');
</script>

{% endblock javascripts %}