
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" 
                   href="https://lib.ecust.edu.cn/" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-book"></i>
                    </div>
                    <span class="b-title">BreezeLib</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>导航</label>
                    </li>
                    <li data-username="dashboard Default"
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">主页</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>课程</label>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select"
                        class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                        <a href="{% url 'class_info' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">课程信息</span></a>
                    </li>
                    <li data-username="Table bootstrap datatable footable"
                        class="nav-item">
                        <a href="{% url 'my_class' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-at-sign"></i></span><span class="pcoded-mtext">我的课程</span></a>
                    </li>
                    {% if group.name == "Teacher" or group.name == "Admin" %}
                    <li class="nav-item pcoded-menu-caption">
                        <label>教参书籍</label>
                    </li>

                    <li data-username="form elements advance componant validation masking wizard picker select"
                        class="nav-item ">
                        <a href="{% url 'buybook' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">查看采购列表</span></a>
                    </li>


                    <li data-username="Table bootstrap datatable footable"
                        class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
                        <a href="{% url 'referencelist' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">教参信息展示</span></a>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select"
                        class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                        <a href="{% url 'apply_book' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">教师购买教参申请</span></a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
